@model List<listlibraryvm>



<table class="table  table-dark table-striped" dir="rtl"  dir="rtl">
  <thead>
    <tr>
      
      <th scope="col">شماره</th>
       <th scope="col">شناسه </th>
      <th scope="col">نام</th>
      <th scope="col">نام کتابخانه </th>
      <th scope="col">شهر و آدرس </th>
      <th scope="col">کتاب امانت </th>
    </tr>
  </thead>
  <tbody>
    
    @for (var i = 0; i < Model.Count; i++)
    {
        <tr>
        <td>@(i+1)</td>
         <td>@Model[i].ID</td>
      <td>@Model[i].memberName</td>
      <td>@Model[i].LibraryName</td>
      <td>@Model[i].CityAndAddres</td>
      <td>@Model[i].bookname</td>
     
     
@*
      <td> <a class="btn btn-danger"asp-controller="Home" asp-action="delete" asp-route-id="@Model[i].ID">حذف</a>
          <a class="btn btn-primary"asp-controller="Home" asp-action="edite" asp-route-id="@Model[i].ID">ویرایش</a>
          </td>*@
        </tr>
    }
     
    
   
    
  </tbody>
</table>
<br />
 <a class="btn btn-outline-danger"asp-controller="Home" asp-action="Index"  dir="rtl">بازگشت به لیست </a>